*{
    margin: 0;
    padding: 0;
}

body{
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    font-size: 30px;
}

ul{
    position: relative;
    left: 20px;
}

.reload{
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: 0;
    background: rgb(255, 2, 2);
    color: wheat;
    border-radius: 20px;
}

.hide{
    display: none;
    
}